.body_backgorund {
  background-image: url("bg1.png");
  background-position: center;
  background-size: cover;
}
body {
  cursor: pointer;
}
h1 {
  color: red;
  font-size: 20px;
}
#myCanvas {
  border-width: 10px;
  background-color: white;
  border-style: ridge;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 42px;
  font-size: 16px;
}

input {
  margin-right: 20px;
}
